body {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin-top: 50px;
    font-size: 36px;
    color: #333;
  }
  
  #message {
    margin-top: 50px;
    font-size: 24px;
    color: green;
  }
  